---
/* Components */
import Head from '../components/Head.astro';

/* CSS */
import '../styles/index.scss';

const {title} = Astro.props;
---
<html lang="en">
  <Head title={title}/>
  <body>
    <header>
      <h1>swatchbox</h1>
    </header>
    <p>note to self: make pretty later!</p>
  </body>
</html>
