---
/* Components */
import Head from '../components/Head.astro';

const {title} = Astro.props;
---
<html lang="en">
  <Head title={title}/>
  <body>
    <h1>Swatchbox</h1>
    <p>note to self: make pretty later!</p>
  </body>
</html>
