---
/* Components */
import { Icon } from 'astro-icon/components'
import Head from '../components/Head.astro';

/* CSS */
import '../styles/index.scss';

const {title} = Astro.props;
---
<html lang="en">
  <Head title={title}/>
  <body>
    <header><div>
      <h1>swatchbox</h1>
      <p>design an addon for a physical modular art system</p>
      <nav>
        <a href="">Tutorial</a>
        <a href="">Gallery</a>
      </nav>
      <Icon name="tdesign:chevron-down"/>
    </div></header>
    <p>note to self: make pretty later!</p>
  </body>
</html>
