---
/* Components */
import { Icon } from 'astro-icon/components'
import Head from '../components/Head.astro';

/* CSS */
import '../styles/index.scss';

const {title} = Astro.props;
---
<html lang="en">
  <Head title={title}/>
  <body>
    <header><div>
      <h1>swatchbox</h1>
      <p>design an addon for a physical modular art system</p>
      <form>
        <label for="emailrsvp">RSVP here to be notified!</label>
        <input type="email" name="emailrsvp" required/>
        <input type="submit" value="RSVP"/>
      </form>
      <nav>
        <a href="">Tutorial</a>
        <a href="">Gallery</a>
      </nav>
      <a href="#overview"><Icon name="tdesign:chevron-down"/></a>
    </div></header>
    <main>
      <article id="overview">
        <h2>the overview</h2>
        <ol>
          <li>Choose your path</li>
          <li>Design your module</li>
          <li>Get your swatchbox!</li>
        </ol>
      </article>
    </main>
  </body>
</html>
